@font-face {
  font-family: 'DM Sans';
  src: url('path-to-fonts/dm-sans.woff2') format('woff2'),
       url('path-to-fonts/dm-sans.woff') format('woff'),
       url('path-to-fonts/dm-sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body{
    background: rgba(47, 24, 147, 1);
    font-family: "DM Sans", sans-serif;
}
.container{
  padding: 30px;
}

.container h1 {
margin-left: 210px;
font-size: 24px;
font-weight: 700;
line-height: 31px;
letter-spacing: -0.2926828861236572px;
text-align: center;
color: rgba(255, 255, 255, 1);

}



.container .menu {
  margin-right: 199px;
  width: 972px;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 25px; 
}

.menu {
  list-style: none;
  padding: 0;
  text-align: right;
}

.menu li {
  display: inline-block;
  margin-left: 10px; 
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
}

.menu li:first-child {
  opacity: 0.3;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: transparent;
}

.menu li:last-child {
  display: flex;
  background-color: rgba(233, 58, 125, 1);
  width: 120px;
  height: 40px;
  border-radius: 100px;
  justify-content: center; 
  align-items: center; 
}




.form {
  width: 470px;
  height: 600px;
  top: 187px;
  right: 715px;
  background-color:  white;
  border: 2px;
  text-align: center;
  box-sizing: border-box;
  margin-right: 300px;
  margin-left: 100px;
  border-radius: 5px;
}




input {
    margin-bottom: 20px;
    width: 330px;
    height: 50px;
    border-radius: 100px;
    border: 2.4px solid rgba(235, 234, 237, 1);   
   
     }


  input::placeholder {
  color: rgba(21, 20, 57, 0.4);
  
  
  font-size: 18px;
  font-weight: 550;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  

   padding-left: 14px;
  }

  

  .custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 60px;
  }
  
  .hidden-checkbox {
    display: none;
  }
  
  .custom-checkbox label {
    position: relative;
    padding-left: 35px; 
    margin-bottom: 0;
    cursor: pointer;
    
  }
  
  .custom-checkbox label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(37, 218, 197, 1);
    border-radius: 6px;
  }
  
  .custom-checkbox .hidden-checkbox:checked + label:before {
    background-color: rgba(37, 218, 197, 1);
    border: 2px solid  rgba(37, 218, 197, 1);
  }
  
  .custom-checkbox .hidden-checkbox:checked + label:after {
    content: "\2713"; 
    position: absolute;
    left: 7px;
    top: 0px;
    font-size: 17px; 
    color: rgba(30, 14, 98, 1);
  }
  

label {
  
  padding-bottom: 30px;
      margin-bottom: 20px;
    font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: rgba(21, 20, 57, 0.4);

}


button{
    margin-bottom: 20px  
}

.login {
  background-color: rgba(29, 161, 242, 1);
  width: 330px;
  height: 50px;
  border-radius: 100px;
  border: none;
}

.signin {
  background-color: rgba(72, 43, 231, 1);
  width: 330px;
  height: 50px;
  border-radius: 100px;
  border: none;
}
 .signin span {
  width: 56px;
 height: 26px;
 top: 12px;
left: 137px;

font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: rgba(255, 255, 255, 1);
 }

 .login span {
  width: 138px;
height: 26px;
top: 12px;
left: 96px;

font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: rgba(255, 255, 255, 1);
 }

 .divider {
  
  font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: rgba(21, 20, 57, 0.4);

}

.line {

  display: inline-block;
  width: 141.57px;
height: 2px;
top: 604.5px;
left: 784.5px;
border: 2px;
  border-top: 2px solid rgba(235, 234, 237, 1);
  }

  

  .account-info p {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(21, 20, 57, 0.4);
    display: inline; 
  }
  
  .account-info a {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    color: rgba(37, 218, 197, 1);
    display: inline; 
    text-decoration: none;
  }
  
.form  h3 {
font-family: "DM Sans", sans-serif;
font-size: 42px;
font-weight: 700;
line-height: 52px;
letter-spacing: -0.4000000059604645px;
text-align: center;
color: rgba(30, 14, 98, 1);
}

.text h5 {
  width: 424px;
height: 217px;
top: 219px;
left: 212px;

font-size: 58px;
font-weight: 700;
line-height: 70px;
letter-spacing: -1px;
text-align: left;
color: rgba(255, 255, 255, 1);
}

.text p {
 margin-top: -70px;
  width: 363px;
height: 160px;
top: 460px;
left: 212px;

font-size: 22px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
color: rgba(255, 255, 255, 1);
}

.learnmore {
  margin-top: 15px;
  border: none;
  width: 157px;
height: 50px;
border-radius: 100px;
background-color: rgba(233, 58, 125, 1);
}

#learnmore {
  width: 96px;
height: 26px;
top: 12px;
left: 31px;

font-size: 18px;
font-weight: 500;
line-height: 26px;
letter-spacing: 0px;
text-align: center;
color: rgba(255, 255, 255, 1);
}


.container {
  margin-top: 10px;
  display: flex;
    justify-content: space-between; 
    align-items: center;
    
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-left: 217px;


}

.text {
  margin-bottom: 100px;
}